{% load static %}
<nav class="flex justify-between items-center mb-4">
    <a href="{% url 'home' %}"
        ><img class="w-24" src="{% static 'images/logo.png' %}" alt="" class="logo"
    /></a>
    {% if not request.user.is_authenticated %}
    <ul class="flex space-x-6 mr-6 text-lg">
        <li>
            <a href="register.html" class="hover:text-laravel"
                ><i class="fa-solid fa-user-plus"></i> Register</a
            >
        </li>
        <li>
            <a href="{% url 'login' %}" class="hover:text-laravel"
                ><i class="fa-solid fa-arrow-right-to-bracket"></i>
                Login</a
            >
        </li>
    </ul>
    {% else %}
    <ul class="flex space-x-6 mr-6 text-lg">
        <li>
            <a href="{% url 'logout' %}" class="hover:text-laravel"
                ><i class="fa-solid fa-door-closed"></i>Logout</a
            >
        </li>
        <li>
            <p>Welcome {{ request.user }}</p>
    </ul>
    {% endif %}
</nav>